{% extends "base.html" %}

{% block bgcolor %}6C63BC{% endblock %}

{% block content %}

<h1> Poetry Center Staff </h1>

<p>
Jennifer Blackburn, Administrative Assistant
<br/><br/>
<h3>Poetry Center Interns</h3>
<br/><br/>
<b>Liliana Farrell, ‘13, intern (Fall 2011- Spring 2013)</b>
<br/>
Liliana Farrell ’13 was born in Providence, RI and then proceeded to make a grand tour 

around the East Coast and Western Canada before she and her family settled near 

Washington D.C. She found refuge from her dust storm of creative turmoil in poetry 

(reading, listening) and film (watching, dissecting). Pretty soon she was committing pen 

to paper in yet another teenage, angst-ridden, misguided attempt at artistry. Poor kid. It 

ain’t easy being a writer.
<br/>
“One of the reasons I find poetry so engaging is that it continues to be relevant. We’re 

currently living in an age where fiction is dead and theatre is coming close to its curtain 

call. For people of every age and background, poetry is a way of expressing complex 

emotions and ideas in a concise and memorable form. How can I explain that a smear 

of a words on a page can change the way I look at the world? How can eighteen short 

lines of text sum up twenty years of muddled reflection? You’ll have to come to the 

Poetry Center to find out.”
<br/><br/>
<b>Janan Scott, 13’, intern (Fall 2011- Spring 2013)</b>
<br/>
Janan Scott ’13 was born in Nicosia, Cyprus and has lived a nomadic existence leaving 

roots scattered in many places including Pakistan, Kenya, France, and Baltimore, 

Maryland. She is happiest when among the trees and particularly enjoys making lentil 

soup and eating salad. She believes that spending time upside down is rejuvenating; 

she knows that family is precious, friendship is rare, and that anyone can write poems.

“Poetry is an act of improvisation. This does not mean it is born of randomness or 

coincidence; on the contrary it is the very deliberate reaction to the tug of gravity we 

encounter every day. Poetry, I think, is most concerned with the return to a state of 

playfulness, where only relentless curiosity allows the paper bag to become hat, the 

fork to become paintbrush, the cardboard box to become forest. Poetry, then, is how we 

become children again.”
<br/><br/>
<b>Donna Yu Dong ’13, Web Designer</b>
<br/>
A crazy government and economics double major who dreams of world domination in 

her free time when she’s not writing her papers on Political Economics and stalking 

political blogs online. Also makes websites.
<br/><br/>
<b>
Hannah Findlay ’16, Stride Scholar (Arts Administration)
<br/>
Stephanie Garland ’14, Photographer
<br/>
Yumna Ghandouri, ‘14J, Gladys Justin Carr Intern (Legacy Preservation)
<br/>
Mengjie (Sunny) Zhang, ’15, Web Assistant
<br/>
Katherine Dymek ’14, Volunteer
<br/>
Jamie Samdahl ’15, Volunteer
</b>

</p>
{% endblock %}
