{% extends "base.html" %}

{% block bgcolor %}560A6F{% endblock %}

{% block content %}

<h1>Poetry in Action</h1>

Outreach has always been a part of the Poetry Center's mission. In addition to the specific initiatives described in the links below, we offer blocks of reserve seats at our readings to local schools and other community groups; we donate a book by each of our visiting poets to the Northampton High School library and offer Smith students assistance with their annual poetry slam. We’ve also collaborated on programming with The Emily Dickinson Museum, the Northampton Arts Council, Sustainable Step New England, and other community organizations. The Poetry Center director has served on the advisory board to the Hampshire County Jail Adult Learning Center , the Northampton Arts Council Poet Laureate selection committee, and the Forbes Library poetry series committee. We are also proud to serve as a hub of information on local poetry events, with announcements at our readings and an information page on the website.
<br/><br/>

<img src="/static/images/about/outreach.jpg" style="display:block; margin-left: auto; margin-right: auto;">
<br/>

We dream of having the staff and funding to create additional outreach programs of our own, such as training students to bring poetry enrichment to urban schools and offering teachers support for their own creative work. Please check back with us to see these plans unfold, and 
<a href="/about/donations.html">
support our efforts 
</a>
by making a contribution of any size.



{% endblock %}
