{% extends "base.html" %}

{% block bgcolor %}560A6F{% endblock %}

{% block content %}

<h1> High School Poetry Prize </h1>

<h3> An annual prize for sophomore and junior girls in New England </h3>

<br/>
Award: $500
<br/><br/>
<h3> Judge for 2013: Alicia Ostriker</h3> 
<br/>
The winner & three finalists will read their poems at the Judge's reading
at Smith College on April 8th, 2014.
<br/><br/>
<h3> 2013 Winner:</h3> 
<br/>
Maria Theano Juran (St. Luke’s School), for “you don’t know anything so don’t even” 
<br/><br/>
Finalists:
<br/>
Courtney Breiner (Emma Willard School), for “Sweetheart, you were rude” 
<br/>
Ruting Li (Milton Academy), for “Ode to Summer Storms” 
<br/>
Isabelle Ness (Northampton High School), for “When No One’s Watching” 
<br/><br/>
<h3> Semi-Finalists:</h3> 
<br/>
Elizabeth Cappello (Pioneer Valley Performing Arts), for “self-indulgent suburban song” 
<br/>
Irene Chung (Westover School), for “A Memory of the Well” 
<br/>
Marie Isabelle Doyle (Emma Willard School), for “an Gorta Mór” 
<br/>
Erin Fishman (Chatham High School), for “Sweeter” 
<br/>
Clara Henderson (The Sharon Academy) for “car radio dies, thinking ensues, cosmos widens” 
<br/>
Dianne Kim (Milton Academy), for “1942, Japanese Occupation of Korea” 
<br/>
LeighAnn Kulpa (Westover School), for “Chrysanthemum” 
<br/>
Afua B. Nsiah (Westover School) for “My Mother’s Dressing Room” 
<br/>
Jesse Saffeir (Merriconeag Waldorf School), for “Island” 
<br/>
Amanda Grace Shu (Melrose High School), for “Azure” 
<br/>
Madeleine Specht (Wachusett Regional High School), for “my girl” 
<br/><br/>
<h3> About the Judge</h3> 
<br/>
<div class="leftcol">
<img width="200" src="/static/images/about/judge.jpg">
</div><div class="rightcol" style="margin:20px 10px;">
A major force as both poet and critic, <b>Alicia Ostriker</b> leaps into her subjects with bristling intelligence, fierce humanity and wit, proclaimed Poetry magazine. Twice nominated for a National Book Award, Ostriker is author of seven volumes of criticism and fourteen of poetry, including The Book of Life: Selected Jewish Poems 1979-2011 and The Imaginary Lover, winner of the William Carlos Williams Award. She is the recipient of fellowships from the NEA, the Guggenheim and Rockefeller foundations, and the Poetry Society of America, among others. Joyce Carol Oates has praised Ostrikers literary output as essential to understanding our American selves.
</div>
<br/><br/>
Past judges: Naomi Shihab Nye * Sharon Olds * Maxine Kumin

{% endblock %}


