{% extends "poets/poet_template.html" %}

{% block name %}Meena Alexander{% endblock %}

{% block pagename %}meena_alexander{% endblock %}

{% block bio %}
<b>Meena Alexander</b> has called herself a “woman cracked by multiple migrations.” Born in India, raised in Sudan, educated in England, and currently a resident of New York City, she has drawn on experiences of trauma, exile, conflicting identity, and the customs of four continents to produce eight books of poetry, a memoir, and two novels. As she has said, “All my writing is haunted by place, the loss of it, the constantly shifting ‘I’ that tries to find a place in which to be.” Alexander’s “I” finds place in her gift of evocation, in its power to coax life out of a rock and to construct a sanctuary from a single memory. In Maxine Hong Kingston’s words, “Her voice guides us far away and back home. Her reader sees her visions and remembers and is uplifted.” 
<br/><br/>
Alexander believes in the power of memory to mend wounds, to “recreate ancestry.” She sees writing an act of translation, bearing what is unspoken and even unspeakable into language, and reawakening 
a piece of the past as a fresh experience. Her work is a sensual hybrid that draws from the Western romantic tradition as well as Bhakti and Sufi heritage. Among her literary influences she cites the Indian 
poets Jayanta Mahapatra and Kamala Das, as well as Adrienne Rich and Galway Kinnell. While her poems contain echoes of the ritual or mythological, intense self-reflection is their core.	
<br/><br/>
Focusing on the fault lines and fractures between one culture and another, her rich verse on such vital issues as love, dislocation, terrorism, and fanaticism sparks a vital discourse at the intersection of ethnic 
American, post-colonial, and women’s studies. In the poem “Question Time,” she is asked, “What use is poetry?” Her response: “We have poetry so we do not die of history.” For Alexander, the task of 
poetry is to reconcile to a violent and unjust world, 
to make beauty of life’s challenges, rendering it somehow survivable. There is a sensuous grandeur in what results, which has the dual power of being both intimate and universal. Tracy K. Smith praised 
<i>Birthplace of Buried Stones</i>, her most recent collection, for delivering us “into the presence of a stark beauty capable of swallowing us whole.” 
<br/><br/>
Alexander’s work has been translated into Malayalam, Hindi, German, Swedish, Arabic and Spanish.  Her volume of poetry, <i>Illiterate Heart</i>, was the PEN Open Book winner in 2002, and she has received 
awards from such institutions as the Guggenheim Foundation, the Fulbright Foundation, the Rockefeller Foundation, the Arts Council of England, the South Asian Literary Association and the National 
Endowment for the Humanities. A graduate of Khartoum University and University of Nottingham, she has taught at Brown, Columbia, the Sorbonne, and the University of Hyderabad among others. 
She currently teaches at Hunter College and the City University of New York.
<br/><br/>
Yusef Komunyakaa has called acclaimed poet Meena Alexander a “truth-teller who knows how to make language do anything and everything she desires.” 
{% endblock %}

{% block poems %}
<a href="meena_alexander_autobiography.html">Autobiography</a>
<br/>
<a href="meena_alexander_question.html">Question Time</a>
<br/>
<a href="meena_alexander_june.html">June Air</a>
{% endblock %}

{% block readings %}
Spring 2014
{% endblock %}
