{% extends "base.html" %}

{% block bgcolor %}948E9C{% endblock %}

{% block content %}

<h1>Videos of Poetry Center Readings</h1>

Beginning with the inaugural visit of Eavan Boland in Fall 1997, we have been videotaping the readings in our series, to make them available to members of our current audience who miss an event, to Smith faculty for classroom use, and to future generations of students, scholars, and poetry lovers.

As of spring 2006, one hundred thirty-two poets have read at Smith (to a cumulative audience of 32,285 listeners). This treasure-trove of readings, available in video format before 2005, and in DVD format since 2005, is available in Neilson Library at Smith College.

<h1>Other Poetry Video Collections in Neilson Library</h1>

Since 1988, the Lannan Foundation has been producing full- length videos of poets reading and discussing their work, and has donated to Smith eighty-one videos from its series, including Denise Levertov, W.S. Merwin, Allen Ginsberg, Seamus Heaney, Octavio Paz, to name just a few.

The Friends of the Smith College Libraries have also contributed to the growing poetry collection by presenting the fourteen-video set Poets of New England to the libraries. In this series, scholars visit local sites and discuss the lives and works of poets such as Robert Frost, Emily Dickinson, and Sylvia Plath; contemporary poets Agha Shahid Ali, Martin Espada, and others read from their works.

{% endblock %}


